<div class="pg__level__round__intro container">

  <div class="pg__level__round__intro__slide"  ng-click="intro.next()" ng-show="intro.current() == 'level'">
    <h1>{{ level.title }}</h1>
    <p class="lead">
      {{ level.description }}
    </p>
  </div>

  <div class="pg__level__round__intro__slide"  ng-click="intro.next()" ng-show="intro.current() == 'representatives'">
    <p class="lead">
      In this level, you will investigate these 6&nbsp;elected&nbsp;representatives:
    </p>
    <div class="row">
      <div ng-repeat="mandature in level.mandatures"
           class="col-xs-2">
        <div class="pg__person-cover img-thumbnail"
            uib-tooltip="{{ mandature.person.fullname }}"
            tooltip-append-to-body="true">
          <img ng-src="{{ mandature.person.image }}" alt="" src="" />
        </div>
      </div>
    </div>
  </div>

  <div class="pg__level__round__intro__slide"  ng-click="intro.next()" ng-show="intro.current() == 'round'">
    <h2>{{ round.title }}</h2>
    <p class="lead">
      {{ round.description }}
    </p>
    <button class="btn btn-secondary btn-lg">
      Start the round
    </button>
  </div>

  <p class="lead pg__level__round__intro__instruction" ng-if="!intro.last()">
    Press <kbd>enter</kbd> or touch to continue.
  </p>
</div>
