.pg__level__round__intro {
  overflow: hidden;
  position:  absolute;
  top:0;
  bottom:0;
  width:100%;

  &__slide {
    text-align: center;
    padding:25vh 0;
    max-width: 660px;
    position: absolute;
    top:40%;
    left:50%;
    @include vendor-prefix(transform, translate(-50%, -50%) scale(1) );
    @include transition(.4s);

    &.ng-hide {
      opacity: 0;
    }

    &.ng-hide.ng-hide-add {
      @include vendor-prefix(transform, translate(-50%, -75%) scale(1.3) );
    }

    &.ng-hide.ng-hide-remove {
      @include vendor-prefix(transform, translate(-50%, -25%) scale(.7) );
    }
  }

  &__instruction {
    text-align: center;
    position: fixed;
    bottom: 5vh;
    left:0;
    right:0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
