<div class="pg__level__round__details__summary">
  <div class="card">
    <div class="pg__level__round__details__summary__heading  card-block">
      <h4 class="card-title">
        Congratulations, you finished round 2
      </h4>
      <p class="card-text lead">
        You just qualified the gender of 6 elected representatives.
      </p>
    </div>
    <div class="card-block text-xs-center">
      <div class="row">
        <h5 class="col-xs-5">Your summary</h5>
        <h5 class="col-xs-5 col-xs-offset-2">Total so far</h5>
        <div class="col-xs-5">
          <div class="pg__level__round__details__summary__bar">
            <div class="pg__level__round__details__summary__bar__median" ng-style="summary.medianStyle(summary.assigned.age.median)">
              Median age: {{ summary.assigned.age.median }} <abbr title="Years old">yo</abbr>
            </div>
            <div class="pg__level__round__details__summary__bar__europe" ng-style="summary.medianStyle(41)"></div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="pg__level__round__details__summary__legend">
            <div class="pg__level__round__details__summary__legend__europe" ng-style="summary.medianStyle(41)">
              Median age<br />in Europe: 41 <abbr title="Years old">yo</abbr>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="pg__level__round__details__summary__bar">
            <div class="pg__level__round__details__summary__bar__median" ng-style="summary.medianStyle(summary.global.age.median)">
              Median age: {{ summary.global.age.median }} <abbr title="Years old">yo</abbr>
            </div>
            <div class="pg__level__round__details__summary__bar__europe" ng-style="summary.medianStyle(41)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-xs-right">
      <a class="btn btn-primary" ng-click="level.startRound()">
        Continue
      </a>
    </div>
  </div>
</div>
