.pg__level__round__details__summary {

  &__legend {
    height:30vh;
    position: relative;
    z-index:100;

    &__europe {
      position: absolute;
      top:0;
      left:50%;
      font-size:.9em;
      line-height:1.2em;
      white-space: nowrap;
      color: #455666;
      border: 1px #455666 dashed;
      border-top:0;
      border-bottom:0;
      background: $card-bg;
      padding:$spacer-y/2 $spacer-x;
      z-index:100;
      @include vendor-prefix(transform, translate(-50%, -50%));
    }
  }

  &__bar {
    position: relative;
    width: 15vh;
    background: $card-border-color;
    height: 30vh;
    margin:auto;

    &__median {
      position: absolute;
      width:100%;
      left:0;
      bottom:0;
      background: mix($brand-primary, $card-bg);
      color: white;
      font-size:.8em;
    }

    &__europe {
      border-top: #455666 dashed 1px;
      height:0;
      width:250%;
      position: absolute;
      top:0;
    }


    &--left &__europe {
      left: -25%;
    }

    &--right &__europe {
      right: -25%;
    }
  }
}
