<div class="container-fluid pg__data">
  <div class="row">
    <div class="col-lg-3 col-lg-push-9">
      <form class="card pg__data__filters" ng-submit="data.filter()" novalidate>
        <div class="card-block">
          <h4 class="card-title">Filters</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-group">
              <label for="input-person">Search</label>
              <input type="text" id="input-person" ng-model="data.filters.person_fullname_or_legislature_name_cont" class="form-control" />
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group">
              <label for="input-country">Country</label>
              <select id="input-country" class="form-control" ng-disabled="!data.countries.length"
                ng-model="data.filters.legislature_country_eq"
                ng-options="o.alpha2 as o.name for o in data.countries | orderBy:'name'">
                <option value="">Any</option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group">
              <label for="input-legislature">Legislature</label>
              <select id="input-legislature" class="form-control" ng-disabled="!data.legislatures.length"
                ng-model="data.filters.legislature_id_eq"
                ng-options="o.id as o.name for o in data.legislatures | orderBy:'name'">
                <option value="">Any</option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group">
              <label for="input-territory">Territory</label>
              <input type="text" id="input-territory" ng-model="data.filters.legislature_territory_cont" class="form-control" />
            </div>
          </li>
        </ul>
        <div class="card-footer text-xs-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-filter"></i>
            Apply
          </button>
        </div>
      </form>
      <div course-materials></div>
    </div>

    <div class="col-lg-9 col-lg-pull-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Collected data</h3>
          <p class="lead">
            Browse the data collected so far.
          </p>
          <div class="pg__data__download" ng-if="data.hasMandatures">
            <a class="btn btn-link" ng-href="{{ data.csv }}"
               uib-tooltip="{{ data.isFiltered ? 'Filtered mandatures' : 'All mandatures' }}"
               tooltip-placement="bottom">
              <i class="fa fa-download"></i>
              Download as CSV
            </a>
          </div>
        </div>
        <p ng-hide="data.hasMandatures" class="pg__data__no-results card-block lead">
          <i class="fa fa-filter"></i>
          No person matched your filters.
        </p>
        <div class="alert alert-warning pg__data__filter-warning" ng-if="data.hasMandatures && data.isFiltered">
          You have active filters.
          <a class="alert-link" ui-sref="main.season.pg.data({})" ui-sref-opts="{ inherit: false }">
            <i class="fa fa-times"></i>
            Reset
          </a>
        </div>
        <div class="table-responsive" ng-if="data.hasMandatures">
          <table infinite-scroll="data.all.next()" infinite-scroll-disabled='data.all.busy' class="small table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>
                  <abbr title="person__name">Person</abbr>
                </th>
                <th>
                  <abbr title="person__gender">Gender</abbr>
                </th>
                <th>
                  <abbr title="legislature__name">Legislature</abbr>
                </th>
                <th>
                  <abbr title="political-leaning">Political leaning</abbr>
                </th>
                <th>
                  <abbr title="role">Role</abbr>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mandature in data.all.objects" class="pg__representatives__item">
                <td class="text-muted">
                  #{{ mandature.id }}
                </td>
                <td>
                  {{ mandature.person.fullname }}
                </td>
                <td>
                  {{ mandature.person.gender }}
                </td>
                <td>
                  {{ mandature.legislature.name }}
                </td>
                <td>
                  {{ mandature.political_leaning }}
                </td>
                <td>
                  {{ mandature.role }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
