.pg__intro {
  position: relative;

  &__slide {
    margin: auto;
    width:100%;
    max-width: 770px;
    text-align: center;
    padding:5vh;
    position: absolute;
    top:0;
    left:50%;
    opacity:1;
    @include vendor-prefix(transform, translateX(-50%));

    &__stack {
      margin:auto;
      max-width: 100%;
      display: inline-block;
      position: relative;

      &:after {
        content:"";
        z-index:-1;
        position: absolute;
        top:$thumbnail-padding;
        left:$thumbnail-padding;
        right:$thumbnail-padding;
        bottom:-$thumbnail-padding;
        background: white;
        @include  vendor-prefix(box-shadow, 0 1px 2px rgba(0,0,0,.075) );
      }

      &__image {
        margin:auto;
        max-width: 100%;

        background:white;
        @include vendor-prefix(transition, 600ms);
        @include vendor-prefix(transform-origin, center center);

        &--no, &--yes {
          opacity:0;
        }

        &--no {
          @include vendor-prefix(transform, translate3d(-100%, 0, 0) rotate(-20deg) );
        }

        &--yes {
          @include vendor-prefix(transform, translate3d(100%, 0, 0) rotate(20deg) );
        }
      }
    }

    &__body {
      margin:5vh 0;

      &__big {
        font-size:1.5em;
        font-weight: bolder;
      }
    }

    &__btn {
      line-height: 5em;
      height: 5em;
      width: 5em;
      border-radius: 2.5em;
      padding:0;
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
    }

    &.ng-hide-remove &__stack__image {
      opacity: 0;
      @include vendor-prefix(transform, translate3d(0, -50%, 0) scale(1.1) );
    }
  }
}
