<form ng-submit="form.submit()" name="mandatureForm">

  <div class="mandature-form card-block">

    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.person.image">
        <label class="mandature-form__group__label col-xs-12" for="input-image" ng-switch=":: !!form.mandature.person.image">
          <span ng-switch-when="false">
            Picture
          </span>
          <span ng-switch-when="true">
            <strong>Picture</strong> already known
            <sup uib-popover-html="form.getSource('picture', form.mandature.person, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
              source
            </sup>
          </span>
        </label>
        <div class="col-xs-8">
          <input class="form-control"
                 type="url"
                 placeholder="Enter an URL to the image"
                 ng-model="form.mandature.person.image"
                 id="input-image" />
        </div>
        <div class="col-xs-4 mandature-form__group__image">
          <div class="pg__person-cover img-thumbnail">
            <img ng-src="{{ form.mandature.person.image }}" alt="" src="" />
          </div>
        </div>
    </fieldset>

    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.person.birthdate">

      <label class="mandature-form__group__label col-xs-12" for="input-birthdate" ng-switch=":: !!form.mandature.person.birthdate">
        <span ng-switch-when="false">
          Date of birth
        </span>
        <span ng-switch-when="true">
          <strong>Date of birth</strong> already known
          <sup uib-popover-html="form.getSource('birthdate', form.mandature.person, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <input class="form-control"
                 flatpickr
                 data-dateFormat="Y-m-d"
                 data-allow-input=true
                 placeholder="YYYY-MM-DD"
                 type="text"
                 ng-model="form.mandature.person.birthdate"
                 name="birthdate"
                 id="input-birthdate" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('birthdate', form.mandature.person)" type="button" ng-if=":: !form.mandature.person.birthdate">
              <span ng-hide="form.hasSource('birthdate', form.mandature.person)">
                Add source
              </span>
              <span ng-show="form.hasSource('birthdate', form.mandature.person)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
            </button>
          </span>
        </div>
        <div class="text-danger small" ng-if="mandatureForm.birthdate.$invalid">
          Not a valid date format (use YYYY-MM-DD).
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.person.birthdate">
        If you can only find a year, set the birthdate to January 1<sup>st</sup> of that year.
      </div>
    </fieldset>
    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.person.birthplace">

      <label class="mandature-form__group__label col-xs-12" for="input-birthplace" ng-switch=":: !!form.mandature.person.birthplace">
        <span ng-switch-when="false">
          Place of birth
        </span>
        <span ng-switch-when="true">
          <strong>Place of birth</strong> already known
          <sup uib-popover-html="form.getSource('birthplace', form.mandature.person, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 ng-model="form.mandature.person.birthplace"
                 id="input-birthplace" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('birthplace', form.mandature.person)" type="button" ng-if=":: !form.mandature.person.birthplace">
              <span ng-hide="form.hasSource('birthplace', form.mandature.person)">
                Add source
              </span>
              <span ng-show="form.hasSource('birthplace', form.mandature.person)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
             </button>
          </span>
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.person.birthplace">
        Or the country only if you only have this piece of information.
      </div>
    </fieldset>
    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.person.education">

      <label class="mandature-form__group__label col-xs-12" for="input-education" ng-switch=":: !!form.mandature.person.education">
        <span ng-switch-when="false">
          Education
        </span>
        <span ng-switch-when="true">
          <strong>Education</strong> already known
          <sup uib-popover-html="form.getSource('education', form.mandature.person, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 ng-model="form.mandature.person.education"
                 id="input-education" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('education', form.mandature.person)" type="button" ng-if=":: !form.mandature.person.education">
              <span ng-hide="form.hasSource('education', form.mandature.person)">
                Add source
              </span>
              <span ng-show="form.hasSource('education', form.mandature.person)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.person.education">
        Where was this person educated? Which university or school?
      </div>
    </fieldset>
    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.person.profession_category">

      <label class="mandature-form__group__label col-xs-12" for="input-profession-category" ng-switch=":: !!form.mandature.person.profession_category">
        <span ng-switch-when="false">
          Occupation
        </span>
        <span ng-switch-when="true">
          <strong>Occupation</strong> already known
          <sup uib-popover-html="form.getSource('profession_category', form.mandature.person, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <select class="form-control"
                 ng-options="pl for pl in form.professionCategories"
                 ng-model="form.mandature.person.profession_category"
                 id="input-profession-category">
            <option value="">—</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('profession_category', form.mandature.person)" type="button" ng-if=":: !form.mandature.person.profession_category">
              <span ng-hide="form.hasSource('profession_category', form.mandature.person)">
                Add source
              </span>
              <span ng-show="form.hasSource('profession_category', form.mandature.person)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.person.profession_category">
        Select the occupation that's closest to the job of this representative.
      </div>
    </fieldset>

    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.role">

      <label class="mandature-form__group__label col-xs-12" for="input-role" ng-switch=":: !!form.mandature.role">
        <span ng-switch-when="false">
          Role <em>in {{ form.mandature.legislature.name }}</em>
        </span>
        <span ng-switch-when="true">
          <strong>Role</strong> <em>in {{ form.mandature.legislature.name }}</em> already known
          <sup uib-popover-html="form.getSource('role', form.mandature, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 ng-model="form.mandature.role"
                 id="input-role" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('role', mandature)" type="button" ng-if=":: !form.mandature.role">
              <span ng-hide="form.hasSource('role', mandature)">
                Add source
              </span>
              <span ng-show="form.hasSource('role', mandature)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.role">
        Is this representative a plain member or does s/he hold a more senior position, like president of the assembly?
      </div>
    </fieldset>

    <fieldset class="form-group mandature-form__group" ng-disabled=":: form.mandature.political_leaning">

      <label class="mandature-form__group__label col-xs-12" for="input-political-leaning" ng-switch=":: !!form.mandature.political_leaning">
        <span ng-switch-when="false">
          Political leaning <em>in {{ form.mandature.legislature.name }}</em>
        </span>
        <span ng-switch-when="true">
          <strong>Political leaning</strong> <em>in {{ form.mandature.legislature.name }}</em> already known
          <sup uib-popover-html="form.getSource('political_leaning', form.mandature, true).value | autolink" popover-trigger="{ 'outsideClick': 'outsideClick' }">
            source
          </sup>
        </span>
      </label>

      <div class="col-xs-8">
        <div class="input-group">
          <select class="form-control"
                 ng-options="pl for pl in form.politicalLeanings"
                 ng-model="form.mandature.political_leaning"
                 id="input-political-leaning">
            <option value="">—</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="form.editSource('political_leaning', form.mandature)" type="button" ng-if=":: !form.mandature.political_leaning">
              <span ng-hide="form.hasSource('political_leaning', form.mandature)">
                Add source
              </span>
              <span ng-show="form.hasSource('political_leaning', form.mandature)">
                <i class="fa fa-check-circle-o text-success"></i>
                Sourced
              </span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-4 mandature-form__group__helper" ng-if=":: !form.mandature.political_leaning">
        Select the political leaning that best describes this representative.
      </div>
    </fieldset>
  </div>
  <div class="card-footer text-xs-right">
    <span uib-tooltip="Data points without a source are not accepted"
         tooltip-append-to-body="true"
         tooltip-is-open="form.changes(false) > form.changes(true)"
         tooltip-trigger="'none'"
         tooltip-class="tooltip-danger"
         class="mandature-form__sources-alert">
      <button class="btn btn-primary" type="submit" ng-disabled="form.changes(true) < 1">
        Continue
      </button>
    </span>
  </div>
</form>
