mandature-form {
  display: block;
}

.mandature-form {

  max-width: map-get($container-max-widths, 'lg');

  &__group {
    position: relative;
    margin-bottom: $spacer-y * 1.5;

    &[disabled] label {
      font-style: italic;

      sup {
        text-decoration: underline;
        cursor: help;
      }
    }

    &:hover &__helper {
      opacity:1;
    }

    &__image {
      position: absolute;
      right:0;
      top:-1rem;
      bottom:0;

      .pg__person-cover {
        position: absolute;
        bottom:0;
        left:0;
        width:100px;
        height:100px;
        padding:0;
      }
    }

    &__helper {
      $base-color: mix($card-border-color, $body-color, 60);
      opacity:.3;
      font-size:.8em;
      position: relative;
      color: $base-color;
      border-left:$base-color 1px solid;
      position: absolute;
      bottom:0;
      right:0;

      &:before {
        content:"";
        border:$base-color 1px solid;
        border-right:0;
        border-top:0;
        height: .5em;
        width: .5em;
        position: absolute;
        top:50%;
        right:100%;
        background:$card-bg;
        @include vendor-prefix(transform, rotate(45deg) translate(0em, -50%));
      }
    }
  }

  &__sources-alert {
    cursor: not-allowed;
    display: inline-block;

    .btn[disabled] {
      pointer-events: none;
    }
  }

}
