<div class="pg" ui-view>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Your missons</h3>
            <p class="card-text lead">Finish each level and collect data on representatives across Europe.</p>
          </div>
          <ul class="list-group list-group-flush pg__categories">
            <li class="list-group-item pg__categories__item" ng-repeat="category in :: pg.categories">
              <h4 class="pg__categories__item__heading">{{ pg.category[$index] | translate: main.user }}</h4>
              <div class="row">
                <div class="col-md-4" ng-repeat="level in :: category">
                  <div class="pg__categories__item__level animated" ng-class="{ 'tada': pg.seeksAttentionOnLevel(level) }">
                    <h5 class="pg__categories__item__level__heading">
                      {{ :: level.title || 'Level ' + level.index }}
                    </h5>
                    <p class="pg__categories__item__level__description">
                      {{ :: level.description }}
                    </p>
                    <p>
                      <button ui-sref="main.season.pg.level"
                              class="btn btn-sm pg__categories__item__level__begin"
                              ng-class="{ 'btn-success': level.done(), 'btn-primary': !level.done() }"
                              ng-disabled="level.locked() || level.done()">
                        <span ng-if="!level.locked() && !level.done()">
                          <span ng-if="!level.started()">
                            Begin
                          </span>
                          <span ng-if="level.started()">
                            Resume
                            <span class="text-muted">round {{ pg.progression().round }}</span>
                          </span>
                        </span>
                        <span ng-if="level.locked()">
                          <i class="fa fa-lock"></i>
                          Locked
                        </span>
                        <span ng-if="level.done()">
                          <i class="fa fa-check"></i>
                          Done
                        </span>
                      </button>
                    </p>
                    <div class="pg__categories__item__level__assignments"
                         ng-class="{ 'pg__categories__item__level__assignments--locked': !level.done() }">
                      <div class="row" ng-if="level.displayAssignements()">
                        <div ng-repeat="assignment in pg.assignmentsByLevel[level.index]"
                           class="col-xs-2">
                          <div class="pg__categories__item__level__assignments__person ">
                            <span ng-if="!level.done()">
                              <div class="pg__person-cover" uib-tooltip="{{ assignment.resource.person.fullname }}" tooltip-append-to-body="true">
                                <img ng-src="{{ assignment.resource.person.image }}" alt="" src="" />
                              </div>
                            </span>
                            <a ui-sref="main.season.pg.representatives.edit(assignment.resource)" ng-if="level.done()">
                              <div class="pg__person-cover" uib-tooltip="{{ assignment.resource.person.fullname }}" tooltip-append-to-body="true">
                                <img ng-src="{{ assignment.resource.person.image }}" alt="" src="" />
                              </div>
                            </a>
                            <div class="pg__categories__item__level__assignments__person__progress">
                              <round-progress
                                max="100"
                                current="assignment.resource.completion"
                                color="#3D1C3D"
                                bgcolor="transparent"
                                radius="100"
                                stroke="25"
                                semi="false"
                                rounded="false"
                                duration="300"
                                responsive="true"></round-progress>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" ng-if="!level.displayAssignements()">
                        <div class="col-xs-2" ng-repeat="i in [0,1,2,3,4,5]">
                          <div uib-tooltip="Start Level {{ level.index }} to unlock the representatives"
                               tooltip-append-to-body="true"
                               tooltip-class="tooltip-warning"
                               class="pg__categories__item__level__assignments__person
                                      pg__categories__item__level__assignments__person--empty">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4" sticky>
        <div class="row">
          <div class="col-lg-12">
            <div course-materials></div>
          </div>
          <div class="col-lg-12">
            <div class="card pg__skills" ng-if="main.season.progression.level > 1">
              <div class="card-block">
                <h4 class="card-title">
                  <i class="fa fa-puzzle-piece fa-fw"></i>&nbsp;Improve your skills
                </h4>
                <p>Collect more information on your representatives to earn more points.</p>
                <a class="btn btn-link btn-block btn-outline" ui-sref="main.season.pg.representatives">
                  See all representatives
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
