.pg__level__round__gender {

  &__person {
    text-align: center;
    display: block;
    opacity:1;

    &__stack {

      margin-bottom: 1rem * $line-height;
      max-width: 100%;
      display: inline-block;
      position: relative;

      &:after {
        content:"";
        z-index:1;
        position: absolute;
        top:$thumbnail-padding;
        left:$thumbnail-padding;
        right:$thumbnail-padding;
        bottom:-$thumbnail-padding;
        background: white;
        @include  vendor-prefix(box-shadow, 0 1px 2px rgba(0,0,0,.1) );
      }

      &__image {
        margin:auto;
        width: 200px;
        max-width: 100%;
        position: relative;
        z-index:2;
        background:white;

        @include vendor-prefix(animation-name, 'fadeInDown');
        @include vendor-prefix(animation-fill-mode, forwards);
        @include vendor-prefix(animation-duration, .7s);
        @include vendor-prefix(transform-origin, center center);
        @include vendor-prefix(box-shadow, 0 1px 2px rgba(0,0,0,.1) );

        img {
          width: 100%;
        }

        &--male, &--female, &--other {
          opacity:0;
        }

        &--male {
          @include vendor-prefix(animation-name, 'rotateOutUpLeft');
        }

        &--female {
          @include vendor-prefix(animation-name, 'rotateOutUpRight');
        }

        &--other {
          @include vendor-prefix(animation-name, 'fadeOutUp');
        }

        &__legend {
          text-align: left;

          &__fullname, &__legislature {
            padding:0 .5rem;
            font-weight: bold;
          }

          &__legislature {
            padding:0 .5rem;
            font-weight: lighter;
            font-size:.9em;
          }
        }
      }
    }

    &__body {
      margin:5vh 0;

      &__big {
        font-size:1.5em;
        font-weight: bolder;
      }
    }

    &__choices {
      white-space: nowrap;
      padding-bottom: 2rem;

      &__btn {
        line-height: 5em;
        height: 5em;
        width: 5em;
        border-radius: 2.5em;
        padding:0;
        text-align: center;
        display: inline-block;

        &--other {
          margin:0 -1rem;
          @include vendor-prefix(transform, translateY(-1rem) );
          background:#F4CEA5;
        }

        &--female {
          background:#824f60;
          color:white;
        }

        &--male {
          background:#4f8258;
          color:white;
        }
      }
    }

    &.ng-hide-remove &__stack__image {
      opacity: 0;
      @include vendor-prefix(transform, translate3d(0, -50%, 0) scale(1.1) );
    }
  }
}
