<div class="pg__level__round__gender" ui-view>
  <div class="card card-block" ng-init="person = round.mandature.person">
    <fieldset class="pg__level__round__gender__person">
      <div class="pg__level__round__gender__person__stack">
        <div class="pg__level__round__gender__person__stack__image
                    pg__level__round__gender__person__stack__image--{{ person.choice }}
                    img-thumbnail">
          <div class="pg__level__round__gender__person__stack__image__cover
                      pg__person-cover">
            <img ng-src="{{ person.image }}" src="" />
          </div>
          <div class="pg__level__round__gender__person__stack__image__legend">
            <div class="pg__level__round__gender__person__stack__image__legend__fullname">
              {{ person.fullname }}
            </div>
            <div class="pg__level__round__gender__person__stack__image__legend__legislature">
              {{ round.mandature.legislature.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="pg__level__round__gender__person__choices">
        <button class="pg__level__round__gender__person__choices__btn pg__level__round__gender__person__choices__btn--male btn btn-lg"
                ng-click="gender.male(person)">
          Male
        </button>
        <button class="pg__level__round__gender__person__choices__btn pg__level__round__gender__person__choices__btn--other btn btn-sm"
                ng-click="gender.other(person)">
          Other
        </button>
        <button class="pg__level__round__gender__person__choices__btn  pg__level__round__gender__person__choices__btn--female btn btn-lg"
                ng-click="gender.female(person)">
          Female
        </button>
      </div>
    </fieldset>
  </div>
</div>
