<div class="container pg__representatives">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">My representatives</h3>
      <p class="lead">
        6 new representatives are assigned to you for every reached level.
      </p>
    </div>
    <div>
      <table infinite-scroll="representatives.all.next()" infinite-scroll-disabled='representatives.all.busy' class="pg__representatives small table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Assembly</th>
            <th style="width: 30%;">Completion</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="assignment in representatives.all.objects" class="pg__representatives__item">
            <td>
              <span class="label label-pill label-success" ng-show="assignment.status == 'done'" uib-tooltip="Done">
                <i class="fa fa-fw fa-check"></i>
              </span>
              <span class="label label-pill label-warning" ng-show="assignment.status == 'pending'" uib-tooltip="Pending">
                <i class="fa fa-fw fa-ellipsis-h"></i>
              </span>
            </td>
            <td>
              <a href="">
                {{ assignment.resource.person.fullname }}
              </a>
            </td>
            <td class="text-muted">
              {{ assignment.resource.legislature.name }}
            </td>
            <td>
              <progress class="progress pg__representatives__item__progress" value="{{ assignment.resource.completion }}" max="100" ng-class="{
                  'progress-danger' : assignment.resource.completion <= 30,
                  'progress-warning': assignment.resource.completion > 30 && assignment.resource.completion <= 60,
                  'progress-success': assignment.resource.completion > 50
                }">
                <div class="progress">
                  <span class="progress-bar" style="width: {{ assignment.resource.completion }}%;">
                    {{ assignment.resource.completion }}%
                  </span>
                </div>
              </progress>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
