<div class="pg__intro"  ng-click="intro.next()">
  <div ng-repeat="slide in intro.slides track by $index"
       class="pg__intro__slide pg__intro__slide--{{ slide.type }}"
       ng-show="intro.filterSlide(slide, $index)">
    <div>
      <div class="pg__intro__slide__body" ng-bind-html="slide.body"></div>
      <div class="pg__intro__slide__stack" ng-if="slide.image">
        <div class="pg__intro__slide__stack__image">
          <img class="img-thumbnail" ng-src="{{ slide.image }}" />
          <div class="pg__intro__slide__stack__image__caption" ng-f="slide.caption">
            <span ng-bind-html="slide.caption"></span>
            <span ng-if="slide.caption && slide.source">&nbsp;—&nbsp;</span>
            <span ng-bind-html="slide.source"></span>
          </div>
        </div>
      </div>
    </div>
    <p ng-if="$last">
      <button ng-click="intro.end()" class="btn btn-secondary btn-lg">
        Start the investigation
      </button>
    </p>
  </div>
  <p class="lead pg__intro__instruction" ng-if="!intro.isLast()">Press <kbd>enter</kbd> or touch to continue.</p>
</div>
