.pg__data {
  padding-top:1rem * $line-height;

  @include media-breakpoint-down(md) {
    .sticky {
      position: relative !important;
    }
    .sticky + div {
      display: none !important;
    }
  }

  &__no-results {
    text-align: left;
    border-top:1px dashed $card-border-color;
  }

  &__download {
    position: absolute;
    right: $card-spacer-x;
    top: $card-spacer-y
  }

  &__filter-warning {
    text-align: center;
    margin:0;
    font-size: .9em;
    padding: .4em;
  }

  table th {
    white-space: nowrap;
  }

}
