.pg__level__round   {

  &__heading {

    border-bottom:0;
    @include box-shadow(0 -3px 0 0  $brand-primary inset, 0 2px 2px 0 rgba(black, .1) );

    &__level {
      color:$brand-primary;
      font-weight: bolder;
      text-transform: uppercase;
    }

    &__round {
      font-weight: lighter;
    }
  }

  &__overview {

    position: -webkit-sticky;
    position: sticky;
    top:0;

     &__assignments {
      background:$brand-primary;
      border-color:$brand-primary;
      color:white;

      &__heading {
        padding-top:.5em;
        padding-bottom:.5em;
        position: relative;

        &:before {
          content:"";
          position: absolute;
          top:100%;
          left:50%;
          border:6px solid transparent;
          border-top-color:$brand-primary;
          z-index:100;
          @include vendor-prefix(transform, translateX(-50%));
        }

        .text-muted {
          color:rgba(white, .5) !important;
        }
      }

      &__frame {
        $frame-bg: darken($brand-primary, 10);
        background: $frame-bg;
        position: relative;
        width:100%;
        overflow: hidden;
        z-index:50;
        @include box-shadow(0 0 6px 6px rgba(black, .2) inset );

        &:after, &:before {
          content:"";
          position: absolute;
          top:0;
          bottom:0;
          width:20%;
          z-index:100;
          pointer-events: none;
          opacity:.7;
        }

        &:after {
          left:0;
          @include gradient-x($frame-bg, rgba($frame-bg, 0) );
        }

        &:before {
          right:0;
          @include gradient-x(rgba($frame-bg, 0), $frame-bg);
        }
      }

      &__description {
        padding:$card-spacer-y $card-spacer-x;
        color:$body-color;
        background:white;
        position: relative;

        p:last-child {
          margin:0;
        }
      }

      &__wrapper {
        width: 165%;
        position: relative;
        @include transition(left .4s);

        &__item {
          padding:.8em;
          opacity: .4;
          @include transition(opacity .4s);

          &--active {
            opacity: 1;
          }

          .pg__person-cover {
            padding-top:100%;
            border-radius: 50%;
            @include box-shadow(0 0 6px 6px rgba(black, .2) );
          }
        }
      }
    }
  }
}
