<div class="pg__level__round container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card pg__level__round__heading">
        <div class="card-block">
          <h3 class="card-title">
            <span class="pg__level__round__heading__level">{{ level.title }}</span>
            <span class="pg__level__round__heading__round">{{ round.title }}</span>
          </h3>
          <div class="lead">{{ level.description }}</div>
        </div>
      </div>
      <div ui-view></div>
    </div>
    <div class="col-lg-4 pg__level__round__overview">
      <div class="row">
        <div class="col-xs-6 col-lg-12">
          <div class="pg__level__round__overview__progress card">
            <div class="card-block">
              {{ pg.progression().remaining_assignments }} tasks remaining before next round.
              <progress class="progress pg__level__round__overview__progress__bar" value="{{ pg.progress() }}" max="100">
                <div class="progress">
                  <span class="progress-bar" ng-style="{ width: pg.progress() + '%' }">
                    {{ pg.progress() }}%
                  </span>
                </div>
              </progress>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-12">
          <div class="pg__level__round__overview__representative" ng-hide="pg.progression().round == 1">
            <div class="pg__level__round__overview__representative__cover"
                 ng-style="{ backgroundImage: 'url(' + (round.person.image || 'http://placehold.it/500x300/B3A2B3/fff') + ')' }">
                 <div class="card-block pg__level__round__overview__representative__caption">
                   <div class="pg__level__round__overview__representative__cover__caption__fullname">{{ round.person.fullname }}</div>
                   <div class="pg__level__round__overview__representative__cover__caption__legislature">
                     {{ round.mandature.legislature.name }}
                   </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
