.pg__level__round   {

  &__heading {

    border-bottom:0;
    @include box-shadow(0 -3px 0 0  $brand-primary inset, 0 2px 2px 0 rgba(black, .1) );

    &__level {
      color:$brand-primary;
      font-weight: bolder;
      text-transform: uppercase;
    }

    &__round {
      font-weight: lighter;
    }
  }

  &__overview {

    &__progress, &__representative {
      background:$brand-primary;
      border-color:$brand-primary;
      color:white;
    }

    &__progress {
      &__bar {
        margin-top:1rem;
        background:mix($brand-primary, white);
        @include progress-variant(white);

        &[value] {
          .progress-bar,
          &::progress-value,
          &::-moz-progress-value,
          &::-webkit-progress-value {
            @include transition(.6s);
          }
        }
      }
    }

    &__representative {

      &__cover {
        padding-top:75%;
        background:white center center no-repeat;
        background-size: cover;

        &__caption {
          text-align: left;
          position: absolute;
          bottom:0;
          left:0;

          &__fullname, &__legislature {
            padding:0 .5rem;
            font-weight: bold;
          }

          &__legislature {
            padding:0 .5rem;
            font-weight: lighter;
            font-size:.9em;
          }
        }
      }

    }
  }
}
