<div class="pg__level__round container">
  <div ui-view ng-if="'main.season.pg.level.round.intro' | isState"></div>
  <div class="row" ng-if="!('main.season.pg.level.round.intro' | isState)">
    <div class="col-lg-8">
      <div class="card pg__level__round__heading">
        <div class="card-block">
          <a ui-sref="main.season.pg" class="btn btn-link btn-sm btn-outline pull-xs-right">
            <i class="fa fa-save"></i>
            Save and come back later
          </a>
          <h3 class="card-title">
            <span class="pg__level__round__heading__level">{{ level.title }}</span>
            <span class="pg__level__round__heading__round">{{ round.title }}</span>
          </h3>
          <div class="lead">{{ level.description }}</div>
        </div>
      </div>
      <div ui-view></div>
    </div>
    <div class="col-lg-4 pg__level__round__overview" sticky>
      <div class="row">
        <div class="col-xs-6 col-lg-12">
          <div class="pg__level__round__overview__assignments card" ng-hide=" '^.summary' | includedByState ">
            <div class="card-block pg__level__round__overview__assignments__heading">
              <h5 class="card-title">
                Your 6 representatives
              </h5>
              <div class="text-muted" ng-if="pg.progression().round < 3">
                {{ pg.progression().remaining }} to investigate before next round.
              </div>
              <div class="text-muted" ng-if="pg.progression().round == 3">
                {{ pg.progression().remaining }} to investigate before next level.
              </div>
            </div>
            <div class="pg__level__round__overview__assignments__frame" ng-init="active = 1">
              <div class="container-fluid pg__level__round__overview__assignments__wrapper"
                   ng-style="round.getAssignmentWrapperStyle()">
                <div class="row">
                  <div ng-repeat="mandature in level.mandatures"
                       class="pg__level__round__overview__assignments__wrapper__item col-xs-2"
                       ng-class="{ 'pg__level__round__overview__assignments__wrapper__item--active': round.isCurrentMandature(mandature) }">
                    <div class="pg__person-cover"
                         uib-tooltip="{{ mandature.person.fullname }}"
                         tooltip-append-to-body="true">
                      <img ng-src="{{ mandature.person.image }}" alt="" src="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pg__level__round__overview__assignments__description">
              <p ng-bind-html="round.description"></p>
              <p class="small text-muted">
                You will be allowed to add more information about {{ round.mandature.person.fullname }}
                <strong>once you finish level {{ pg.progression().level }}</strong>.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-12" course-materials></div>
      </div>
    </div>
  </div>
</div>
