<div class="container">
  <div class="card pg__representatives" ui-view>
    <div class="card-block">
      <h3 class="card-title">My representatives</h3>
      <p class="lead">
        Below are the representatives that you worked on so far. Bring them to 100% to score more points!
      </p>
    </div>
    <div>
      <table ng-repeat="level in representatives.levels"
             class="pg__representatives small table table-striped">
        <caption class="text-xs-center">Level {{ level[0] || 'unkown' }}</caption>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Assembly</th>
            <th style="width: 30%;">Completion</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="assignment in level[1]" class="pg__representatives__item">
            <td>
              <span class="label label-pill label-success" ng-show="assignment.status == 'done'" uib-tooltip="Done">
                <i class="fa fa-fw fa-check"></i>
              </span>
              <span class="label label-pill label-warning" ng-show="assignment.status == 'pending'" uib-tooltip="Pending">
                <i class="fa fa-fw fa-ellipsis-h"></i>
              </span>
            </td>
            <td>
              <a ui-sref="main.season.pg.representatives.edit(assignment.resource)" ng-show="assignment.status == 'done'">
                <span class="pg__person-cover">
                  <img ng-src="{{ assignment.resource.person.image }}" alt="" src="" />
                </span>
                {{ assignment.resource.person.fullname }}
              </a>
              <span ng-show="assignment.status == 'pending'" uib-tooltip="You must finish level {{ main.season.progression.level }} to be able to add infos to this representative">
                <span class="pg__person-cover">
                  <img ng-src="{{ assignment.resource.person.image }}" alt="" src="" />
                </span>
                {{ assignment.resource.person.fullname }}
              </span>
            </td>
            <td class="text-muted">
              {{ assignment.resource.legislature.name }}
            </td>
            <td>
              <progress
                    ng-attr-value="{{ assignment.resource.completion }}"
                    max="100"
                    uib-tooltip="{{ assignment.resource.completion | number:0 }}% complete"
                    class="progress pg__representatives__item__progress"
                    ng-class="{
                      'progress-danger' : assignment.resource.completion <= 30,
                      'progress-warning': assignment.resource.completion > 30 && assignment.resource.completion <= 60,
                      'progress-success': assignment.resource.completion > 50
                    }">
              </progress>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
