.pg__level__round__details {

  &__person {

    &__image {

      background:white;
      @include vendor-prefix(box-shadow, 0 1px 2px rgba(0,0,0,.1) );

      img {
        width: 100%;
      }

      &__legend {
        text-align: left;
        padding:.5rem;

        &__fullname, &__legislature {
          font-weight: bold;
        }

        &__legislature {
          font-weight: lighter;
          font-size:.9em;
        }
      }
    }

    &__form {

      &__label {
        text-align: right;
        font-weight: bold;
        font-size: .9em;
      }
    }

    &__group {
      position: relative;

      &:hover &__helper {
        opacity:1;
      }

      &__image {
        position: absolute;
        right:0;
        top:-1rem;
        bottom:0;

        img {
          position: absolute;
          left:0;
          top:0;
          height:100%;
          padding:0;
        }
      }

      &__helper {
        $base-color: mix($card-border-color, $body-color, 60);
        opacity:.3;
        font-size:.8em;
        position: relative;
        color: $base-color;
        border-left:$base-color 1px solid;
        position: absolute;
        bottom:0;
        right:0;

        &:before {
          content:"";
          border:$base-color 1px solid;
          border-right:0;
          border-top:0;
          height: .5em;
          width: .5em;
          position: absolute;
          top:50%;
          right:100%;
          background:$card-bg;
          @include vendor-prefix(transform, rotate(45deg) translate(0em, -50%));
        }
      }
    }
  }
}
