<div class="pg__level__round__details">
  <div class="card">
    <div class="pg__level__round__details__person">
      <div class="pg__level__round__details__heading card-block">
        <h4 class="card-title">Find detail information</h4>
        <p class="card-text">At least one is required before you can move on.</p>
      </div>
      <form ng-submit="details.submit()">
        <div class="pg__level__round__details__person__form card-block">
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.person.birthdate">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-birthdate">
                Date of birth
              </label>
              <div class="input-group input-group">
                <input class="form-control form-control"
                       type="text"
                       ng-model="round.person.birthdate"
                       id="input-birthdate" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('birthdate', round.person)" type="button">
                    <span ng-hide="details.hasSource('birthdate', round.person)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('birthdate', round.person)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Date of birth.
            </div>
          </fieldset>
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.person.birthplace">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-birthplace">
                Place of birth
              </label>
              <div class="input-group input-group">
                <input class="form-control form-control"
                       type="text"
                       ng-model="round.person.birthplace"
                       id="input-birthplace" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('birthplace', round.person)" type="button">
                    <span ng-hide="details.hasSource('birthplace', round.person)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('birthplace', round.person)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                   </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Place of birth.
            </div>
          </fieldset>
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.mandature.role">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-role">
                Role in {{ round.mandature.legislature.name }}
              </label>
              <div class="input-group input-group">
                <input class="form-control form-control"
                       type="text"
                       ng-model="round.mandature.role"
                       id="input-role" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('role', round.mandature)" type="button">
                    <span ng-hide="details.hasSource('role', round.mandature)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('role', round.mandature)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Education.
            </div>
          </fieldset>
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.person.education">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-education">
                Education
              </label>
              <div class="input-group input-group">
                <input class="form-control form-control"
                       type="text"
                       ng-model="round.person.education"
                       id="input-education" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('education', round.person)" type="button">
                    <span ng-hide="details.hasSource('education', round.person)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('education', round.person)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Education.
            </div>
          </fieldset>
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.person.profession_category">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-profession-category">
                Occupation
              </label>
              <div class="input-group input-group">
                <select class="form-control form-control"
                       ng-options="pl for pl in details.professionCategories"
                       ng-model="round.person.profession_category"
                       id="input-profession-category">
                  <option value="">—</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('profession_category', round.person)" type="button">
                    <span ng-hide="details.hasSource('profession_category', round.person)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('profession_category', round.person)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Occupation.
            </div>
          </fieldset>
          <fieldset class="form-group pg__level__round__details__person__group" ngdisabled=":: round.mandature.political_leaning">
            <div class="col-xs-8">
              <label class="pg__level__round__details__person__form__label" for="input-political-leaning">
                Political leaning
              </label>
              <div class="input-group input-group">
                <select class="form-control form-control"
                       ng-options="pl for pl in details.politicalLeanings"
                       ng-model="round.mandature.political_leaning"
                       id="input-political-leaning">
                  <option value="">—</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-secondary" ng-click="details.editSource('political_leaning', round.person)" type="button">
                    <span ng-hide="details.hasSource('political_leaning', round.person)">
                      Add source
                    </span>
                    <span ng-show="details.hasSource('political_leaning', round.person)">
                      <i class="fa fa-check-circle-o text-success"></i>
                      Sourced
                    </span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 pg__level__round__details__person__group__helper">
              Lorem ipsum dolor description von Political leaning.
            </div>
          </fieldset>
        </div>
        <div class="card-footer text-xs-right">
          <div class="pull-xs-left" ng-show="details.changes(false) > details.changes(true)">
            <i class="fa fa-warning fa-fw"></i>&nbsp;
            Information with no source are not accepted.
          </div>
          <button class="btn btn-primary" type="submit" ng-disabled="details.changes(true) < 2">
            Next
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
