<div class="pg__level__round__details" ui-view>
  <div class="card animated fadeInLeft">
    <div class="pg__level__round__details">
      <div class="pg__level__round__details__heading card-block">
        <h4 class="card-title">
          {{ round.mandature.person.fullname }}
          <div class="lead">
            {{ round.mandature.legislature.name }}
            <span class="small" ng-if="round.mandature.legislature.name != round.mandature.legislature.name_local">
              ({{ round.mandature.legislature.name_local }})
            </span>
          </div>
        </h4>
      </div>
      <mandature-form finally="details.finally()" allow-skipping="true" mandature="round.mandature" class="pg__level__round__details__form" />
    </div>
  </div>
</div>
