<div class="pg" ui-view>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Your missons</h3>
            <p class="card-text lead">Complete each level and collect data on all of your representatives.</p>
          </div>
          <ul class="list-group list-group-flush pg__categories">
            <li class="list-group-item pg__categories__item" ng-repeat="category in :: pg.categories">
              <h4 class="pg__categories__item__heading">{{ pg.category[$index] | translate: main.user.school }}</h4>
              <div class="row">
                <div class="col-md-4" ng-repeat="level in :: category">
                  <div class="pg__categories__item__level">
                    <h5 class="pg__categories__item__level__heading">
                      {{ :: level.title || 'Level ' + ($index + 1) }}
                    </h5>
                    <p class="pg__categories__item__level__description">
                      {{ :: level.description }}
                    </p>
                    <button ui-sref="main.season.pg.level({ level: ($index + 1) })"
                            class="btn btn-sm pg__categories__item__level__begin"
                            ng-class="{ 'btn-success': level.done(), 'btn-primary': !level.done() }"
                            ng-disabled="level.locked() || level.done()">
                      <span ng-if="!level.locked() && !level.done()">
                        Begin
                      </span>
                      <span ng-if="level.locked()">
                        <i class="fa fa-lock"></i>
                        Locked
                      </span>
                      <span ng-if="level.done()">
                        <i class="fa fa-check"></i>
                        Done
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" course-materials></div>
    </div>
  </div>
</div>
