.pg {
  padding-top:1rem * $line-height;

  &__person-cover {
    position: relative;
    width:100%;
    padding-top:125%;
    overflow: hidden;
    display: block;

    img {
      position: absolute;
      display: block;
      top:50%;
      left:50%;
      width: 100%;
      min-height: 100%;
      background-color: #455666;
      -moz-force-broken-image-icon: 0;
      @include vendor-prefix(object-fit, cover);
      @include vendor-prefix(transform, translate(-50%, -50%));

      &:after {
        content: "\f118";
        font-size:5em;
        font-family: FontAwesome;
        color: lighten(#455666, 10);
        background: inherit;
        width:auto;
        padding:50% 0;

        display: block;
        text-align: center;
        border:0;

        position: absolute;
        top: 50%;
        left: 50%;
        @include vendor-prefix(transform, translate(-50%, -50%));
      }
    }
  }


  &__categories {

    &__item {

      padding-bottom:1rem * $line-height;

      &__heading {
        padding: .5em 0;
      }

      & > .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: stretch;

        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      &__level {
        position: relative;
        padding:1em;
        padding-bottom:5.5em;
        background: $card-border-color;
        flex:1;
        height:100%;

        &__heading, &__description {
          margin:0;
          padding:0;
        }

        &__heading {
          margin-bottom:.5em * $line-height;
        }

        &__begin {
          position: absolute;
          bottom: 1em;
          left: 1em;
          right: 0;
          width:calc(100% - 2em);
          display: block;

          border-width: 2px;
          @include vendor-prefix(border-radius, 2em);
          @include box-shadow(none);

          &.btn .text-muted {
            color:inherit !important;
            opacity: .6;
          }

          &.btn-primary:disabled {
            @include vendor-prefix(filter, grayscale(1));
            opacity: .2;
            background:transparent;
            color: $link-color;
            border-color: $link-color;
          }
        }

        &__assignments {;
          font-size:.7em;
          text-align: center;
          padding:0 .9em;
          position: absolute;
          bottom:5em;
          left:1.4em;
          right:1.4em;

          .col-xs-2, .col-xs-4 {
            padding:.2em;
          }

          &--locked &__person {
            opacity: .6;
          }

          &__person {
            padding:.1em;
            position: relative;
            overflow: visible;
            width:100%;

            &--empty {
              height:0;
              padding-top:100%;
              background:rgba($body-color, .1);
              border-radius:50%;
              position: relative;

              &:after {
                top:50%;
                left:50%;
                position: absolute;
                content:"?";
                color:rgba($body-color, .5);
                @include vendor-prefix(transform, translate(-50%, -50%));
              }
            }

            &__progress {
              position: absolute !important;
              left:50%;
              top:50%;
              width:110%;
              z-index:0;
              pointer-events: none;
              @include vendor-prefix(transform-origin, center center);
              @include vendor-prefix(transform, scale(1) translate(-50%, -50%) );
            }

            .pg__person-cover {
              display: block;
              padding-top:100%;
              width:100%;

              border-radius: 100%;
              border:0;
              overflow: hidden;

              img {
                width:120%;

                &:after {
                  font-size:0em;
                }
              }
            }
          }
        }
      }
    }
  }
}
