<div class="pg__level__round__diversity">
  <div class="card animated fadeInLeft">
    <div class="pg__level__round__diversity__heading card-block">
      <h4 class="card-title">Who fits best the stereotype of a politician?</h4>
      <p class="card-text">
        <em>Click on the face of the most stereotypical.</em>
      </p>
      <p class="card-text">
        Read <a ng-click="courseMaterials.select(17)">Why do we rank politicians based on “&nbsp;stereotypicality&nbsp;”</a> before your start.
      </p>
    </div>
    <div class="pg__level__round__diversity__body card-block">
      <div class="row">
        <div class="col-xs-4 pg__level__round__diversity__body__person">
          <div class="pg__level__round__diversity__body__person__image pg__person-cover img-thumbnail" ng-click="diversity.value(0)">
            <img ng-src="{{ diversity.person_a.image }}" src="" alt="" />
            <div class="pg__level__round__diversity__body__person__image__legend">
              {{ diversity.person_a.fullname }}
            </div>
          </div>
        </div>
        <div class="col-xs-4 push-xs-4 pg__level__round__diversity__body__person">
          <div class="pg__level__round__diversity__body__person__image pg__person-cover img-thumbnail" ng-click="diversity.value(1)">
            <img ng-src="{{ diversity.person_b.image }}" src="" />
            <div class="pg__level__round__diversity__body__person__image__legend">
              {{ diversity.person_b.fullname }}
            </div>
          </div>
        </div>
        <div class="col-xs-4 pull-xs-4">
          <div class="pg__level__round__diversity__body__equally img-thumbnail" ng-click="diversity.value(null)">
            <div class="pg__level__round__diversity__body__equally__legend">
              Equally stereotypical
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
