<div class="pg__level__round__diversity">
  <div class="card animated fadeInLeft">
    <div class="pg__level__round__diversity__heading card-block">
      <h4 class="card-title">Who looks most like a politician's stereotype?</h4>
      <p class="card-text">
        Of these two persons, who fits best the stereotype of a politician?<br />
        Click on the face of the most stereotypical.<br/>
        Read <a href="http://www.jquestapp.com/political-gaps/#!/course-materials/17">Why do we rank politicians based on "stereotypicality"?</a> before your start.
      </p>
    </div>
    <div class="pg__level__round__diversity__body card-block">
      <div class="row">
        <div class="col-xs-6 pg__level__round__diversity__body__person" ng-click="diversity.value(0)">
          <div class="pg__level__round__diversity__body__person__image pg__person-cover img-thumbnail">
            <img ng-src="{{ diversity.person_a.image }}" src="" alt="" />
            <div class="pg__level__round__diversity__body__person__image__legend">
              {{ diversity.person_a.fullname }}
            </div>
          </div>
        </div>
        <div class="col-xs-6 pg__level__round__diversity__body__person" ng-click="diversity.value(1)">
          <div class="pg__level__round__diversity__body__person__image pg__person-cover img-thumbnail">
            <img ng-src="{{ diversity.person_b.image }}" src="" />
            <div class="pg__level__round__diversity__body__person__image__legend">
              {{ diversity.person_b.fullname }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
