<form ng-submit="submit()">
  <div class="modal-body">
    <label for="input-source">Source or link</label>
    <textarea class="form-control" id="input-source" ng-model="source.value"></textarea>
    <p class="small text-muted">This can be a URL or a text. If you sent an email or made a phone call to obtain this information, please indicate the date and the name of your correspondent.</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
